// NAVIGATION LAYOUT

.navigation {
  @include flex;
  @include align-center;
  justify-content: space-between;
  background-color: rgba(225, 225, 225, 0.0);
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  height: $navigation-height;
  transition: $standard-transition;
  transition-delay: $standard-time;
  width: 100%;
  z-index: 9001;
}

.navigation.toggled {
  @include std-box-shadow;
  background-color: rgba(225, 225, 225, 1.0);
  transition-delay: 0s;
}

.navigation-logo-wrapper {
  @include flex;
  @include align-center;
  @include justify-start;
  @include perspective(100vh);
  @include perspective-preserve-3d;
  height: $navigation-height;
  max-width: 20vw;
  width: 100%;

  .navigation-logo-gradient {
    background: linear-gradient(to right, rgba(0, 122, 193, 1.0) 0%, rgba(125, 125, 125, 0.1) 60%, transparent);
    height: $navigation-height;
    left: -30vw;
    pointer-events: none;
    position: fixed;
    transition: $long-transition;
    width: 30vw;
    z-index: 9001;
  }

}

.navigation-logo-wrapper:hover {

  .navigation-logo-gradient {
    left: 0vw;
  }

}

.navigation-logo {
  @include perspective-rotate-y(0deg);
  background: url(./../../public/logo_full_small.png) no-repeat left center; // your logo asset goes here
  background-size: contain;
  cursor: pointer;
  filter: contrast(200%) drop-shadow(0vw 0.2vh 0.1vh rgba(50, 50, 50, 1.0));
  margin-left: 4vw;
  min-height: 4vh;
  width: 100%;
  opacity: 0.9;
  transition: $long-transition;
  z-index: 9001;
}

.navigation-logo:hover {
  @include perspective-rotate-y(15deg);
  filter: contrast(300%) drop-shadow(-0.15vw 0.2vh 0.2vh rgba(0, 61, 96, 1.0));
  opacity: 1.0;
}

.navigation-nav-wrapper {
  @include flex;
  @include align-center;
  @include justify-end;
  align-self: flex-end;
  color: $text-secondary-color;
  height: 100%;

  nav {
    @include flex;
    @include align-center;
    height: 100%;
  }

}

nav.toggled {
  .navigation-nav-link {
    color: rgba(25, 25, 25, 1.0);
    &:hover {
      color: rgba(55, 55, 55, 1.0);
      text-shadow: 0px 0px 1px rgba(215, 215, 215, 1.0);
    }
  }
}

.navigation-nav-link {
  @include flex;
  @include align-center;
  @include justify-center;
  color: rgba(37, 216, 253, 1.0);
  height: 100%;
  text-decoration: none;
  text-shadow: 0px 0px 1px rgba(25, 25, 25, 0.4);
  text-align: center;
  transition: $standard-transition;
  width: 10vw;

  &::before {
    background: linear-gradient(to bottom, rgba(0, 122, 193, 1.0) 0%,  rgba(0, 122, 193, 0.0) 100%);
    content: '';
    height: 100%;
    opacity: 0.0;
    position: absolute;
    transition: $standard-transition;
    width: 10vw;
    z-index: -1;
  }

  &:visited {
    text-shadow: 0px 0px 0px rgba(25, 25, 25, 1.0);
  }

  &:hover {
    color: rgba(32, 196, 230, 1.0);
    text-shadow: 0px 0px 2px rgba(25, 25, 25, 1.0);

    &::before {
      opacity: 1.0;
    }

  }
}



@media screen and (orientation: landscape) and (max-width: 1000px) {

  .navigation {
    height: $navigation-height-mobile-landscape;
  }

  .navigation-logo-wrapper {
    height: $navigation-height-mobile-landscape;
    width: 40vw;

    .navigation-logo-gradient {
      height: $navigation-height-mobile-landscape;
      width: 40vw;
    }

  }

  .navigation-logo {
    min-height: $navigation-height-mobile-landscape * 0.6;
  }

  .navigation-nav-wrapper {
    display: none;
  }

}

@media screen and (orientation: portrait) and (max-width: 1000px) {

  .navigation {
    height: $navigation-height-mobile-portrait;
  }

  .navigation-logo-wrapper {
    height: $navigation-height-mobile-portrait;
    max-width: 40vw;
    width: 40vw;

    .navigation-logo-gradient {
      height: $navigation-height-mobile-portrait;
      width: 40vw;
    }

  }

  .navigation-logo {
    min-height: $navigation-height-mobile-portrait / 2;
  }

  .navigation-nav-wrapper {
    display: none;
  }

}