#jumbotron {
  background-color: $bg-primary-color;
  overflow: hidden; 
  max-height: 75vh;
  width: 100%;  
  z-index: -1000;
}

.jumbotron-images-wrapper {
  max-height: 75vh; 
  width: 100%;
}

.jumbotron-image-full-size {
  width: 100%;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {



}

@media screen and (orientation: landscape) and (max-width: 1024px) {



}