.skill-carousel {
  overflow-x: hidden;
}

.skill-slider {
  transition: $standard-transition;
}

.skill-card {
  @include flex;
  @include flex-column;
  @include align-center;
  height: 100%;
  transition: $standard-transition;
  min-width: (100%) / 3;

  &:hover {
    background-color: rgba(35, 160, 50, 0.4);
  }
}

.skill-card-image {
  
}

/* 

  Skill Carousel control box styles

*/

.skill-control-box {
  @include flex;
  justify-content: space-between;
  pointer-events: none;
  position: absolute;
}

.control {
  background-color: rgba(150, 35, 160, 0.2);
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  transition: $standard-transition;
  width: 10%;
  z-index: 1;

  &:hover {
    background-color: rgba(50, 35, 60, 0.4);
  }
}