.spinning-loader {
  @include flex;
  @include align-center;
  @include justify-center;
  border: 1.25vw solid $text-tertiary-color;
  border-radius: 50%;
  border-top: 1.25vw solid $bg-secondary-color;
  width: 10vw;
  height: 10vw;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}