// Background Colors
$bg-primary-color: rgba(35, 35, 35, 1.0);
$bg-secondary-color: rgba(235, 235, 235, 1.0);
$bg-tertiary-color: rgba(0, 122, 193, 1.0);

// Text Colors
$text-primary-color: rgba(235, 235, 235, 0.8);
$text-secondary-color: rgba(0, 122, 193, 1.0);
$text-tertiary-color: rgba(35, 35, 35, 0.5);
